.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items>ul {
    list-style-type: none;
    font: bold;
    display: flex;
    margin-right: 10px;

}

.nav-items>ul>li {
    padding: 10px;
}

.logo {
    margin: 25px;
    width: 80px;
    height: 50px;
}

.card {
    
    border: 2px solid #ccc; /* Set border thickness and color */
    border-radius: 8px; /* Optional: Rounded corners */
   

    width: 95%;
    height:auto;
    
    margin: 13px;
    padding: 20px;
  

}


.span{
    color: aqua;
}
